<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/> *@
    @if ((bool)(ViewData["AccessDenied"] ?? false))
    {
        <link rel="stylesheet" href="~/css/accessDenied.css" asp-append-version="true"/>
    }
    else
    {
        <link rel="stylesheet" href="~/css/LoginRegister.css" asp-append-version="true"/>
    }
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet">
    @* <link rel="stylesheet" href="~/BlogApp.styles.css" asp-append-version="true"/> *@
</head>
<body>
<div class="container">
    @RenderBody()
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<partial name="_ValidationScriptsPartial"/>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
