@{
    ViewData["Title"] = "Create post";
}
<div class="container" id="create-post-container">
    <div id="create-post-form">
        <h1 id="form-title" class="display-3">Create post</h1>
        
        <div id="title-block" class="post-creation-block">
            <h1 class="display-6">Title</h1>
            @* <span id="post-title-label" class="label">Title:</span> *@
            <textarea class="textarea" id="title" placeholder="Enter the post title"></textarea>
        </div>
        
        <div id="description-block" class="post-creation-block">
            <h1 class="display-6">Preview description</h1>
            <textarea class="textarea" placeholder="Put description here" id="description"></textarea>
        </div>
        
        <div id="content-block" class="post-creation-block">
            <h1 class="display-6">Content</h1>
            <textarea class="textarea" placeholder="Put post text here" id="content"></textarea>
        </div>
        
        <input type="submit" id="create-post-btn" value="Create"/>
    </div>
</div>