@model IEnumerable<Post>

@{
    ViewData["Title"] = "Feed";
}
<div class="container">
    <main role="main" class="pb-3">
        <div id="feed-header">
            <div id="tags-block">
                <span>
                    Tags:
                </span>
                <div id="added-tags">

                </div>
                <button id="add-tag" type="button">
                    <img src="~/img/plus.svg" alt=""/>
                </button>
            </div>
            <div id="sort">
                Sort by
            </div>
        </div>

        <div id="feed-content">
            @foreach (var post in Model)
            {
                <partial name="_FeedPostPartial" model="post"/>
            }
            <hr class="delimiter"/>
        </div>
    </main>
</div>