<div id="image">
    <img src="../img/register_background.jpg" alt=""/>
</div>
<div class="user-side" id="register-side">
    <div id="register-form">
        <h1>Sign up</h1>
        <div id="email-block" class="input-block">
            <img src="../img/at.svg" alt="" class="input-icon"/>
            <input type="email" placeholder="Email address..." class="register-input-field"/>
        </div>
        <div id="username-block" class="input-block">
            <img src="../img/user.svg" alt="" class="input-icon"/>
            <input type="text" placeholder="Username..." class="register-input-field"/>
        </div>
        <div class="input-block">
            <img src="../img/pass_key.svg" alt="" class="input-icon"/>
            <input type="password" placeholder="Password..." class="register-input-field"/>
        </div>

        <div class="input-block">
            <img src="../img/pass_key.svg" alt="" class="input-icon"/>
            <input type="password" placeholder="Repeat password..." class="register-input-field"/>
        </div>
        <div id="terms-agreement">
            <input type="checkbox" id="terms-check"/>
            <label for="terms-check" id="terms-label">I agree to the <a href="https://google.com">Terms of User</a></label>
        </div>
        <div id="actions">
            <input type="button" value="Sign up" class="submit-btn"/>
            <a>Sign in→</a>
        </div>
    </div>
</div>